extends layout

block content
  .login-container
    h1 Sign Up
    if error
      .error-message= error
    form.login-form(action="/signup" method="POST")
      .form-group
        label(for="firstName") First Name:
        input#firstName(type="text" name="firstName" value=user ? user.first_name : '' autofocus)
      .form-group
        label(for="lastName") Last Name:
        input#lastName(type="text" name="lastName" value=user ? user.last_name : '')
      .form-group
        label(for="email") Email:
        input#email(type="email" name="email" value=user ? user.email : '' required)
      .form-group
        label(for="password") Password:
        input#password(type="password" name="password" required)
        small.form-help Minimum 8 characters, must include numbers and letters
      .form-group
        label(for="confirmPassword") Confirm Password:
        input#confirmPassword(type="password" name="confirmPassword" required)
      button.btn.btn-primary(type="submit") Sign Up

    .signup-link
      p Already have an account?
        a(href="/login") Login
