doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    script(src='/javascripts/chat.js')
    script(src='/javascripts/cart.js')
  body
    header.site-header
      .header-content
        if user
          .user-info
            span.welcome-text Welcome, #{user.first_name}
            a.logout-link(href="/logout") Logout
        else
          .auth-links
            a.login-link(href="/auth/login") Login
    block content
    if gaTrackingId
      script(async, src=`https://www.googletagmanager.com/gtag/js?id=${gaTrackingId}`)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{gaTrackingId}');
